 # Ambiente virtual
venv/
env/

# Segredos — NUNCA subir
.env
*.env

# Django
*.pyc
__pycache__/
db.sqlite3
media/
logs/

# Sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Deploy
staticfiles/
*.log
